button {
	background-color: $color-purple;
	border: 0;
	outline: 0;
	color: $color-white;
	padding: .5em 1em;
	line-height: 15px;
	vertical-align: top;
	&.is-active {
		background-color: rgba($color-white,.9);
		color: $color-purple;
	}
	&:hover {
		background-color: $color-white;
		color: $color-purple;
		border-radius: 5px;
		border:  1px solid $color-black;
	}
}
