$padding: 30px;
$nav-height: 0px;
$row-height: 30px;
$color-white: #fff;
$color-black: #000;
$color-font: #000;
$color-gray-dark: #666;
$color-gray-light: #999;
$color-bg-body: #f9f9f9;
$color-bg-card: #fff;
$color-style: #77dd77;
$color-purple: #9900CC;
$color-purple-light: #7e0f7e;
$font-family: 'Open Sans', sans-serif;