$padding: 15px;
$nav-height: 82px;
$row-height: 30px;
$color-white: #fff;
$color-black: #000;
$color-font: #fff;
$color-gray-dark: #666;
$color-gray-light: #999;
$color-bg: #100010;
$color-style: #77dd77;
$color-purple: #9900CC;
$color-purple-light: #7e0f7e;
