#details {
    padding-top: 1em;
    .btn-back {
    	float: right;
    }
    h1 {
    	display: inline-block;
    }
    .stats {
    	margin-top: 1em;
    	display: block;
    	h2 {
    		margin-bottom: 1em;
    	}
    }
}