#details {
    position: relative;
    .btn-back {
    }
    h1 {
    	display: block;
    }
    .stats {
    	display: block;
    	h2 {
            text-align: center;
    	}
    }
    .container-graph {
        width: 100%;
        max-width: 900px;
    }
    .buttons {
        margin: 0 0 $padding  0;
        padding: $padding;
        background-color: rgba($color-purple-light,.25);
        button {
            width: 50%;
            border: 1px solid $color-bg;
        }
    }
    .exchange-name {
        text-align: center;
    }
    .percent-change {
        font-size: 14px;
    }
    .automation {
        padding: $padding;
        h2 {
            margin: 0 0 $padding 0;
        }
        .slider {
            width: 100%;
        }
        .low {

        }
        .high {
            float: right;
        }
    }
    .lastUpdate {
        display: none;
        position: absolute;
        right: 0;
        top: 1em;
        text-align: right;
    }
}