#details {
    padding-top: 1em;
    position: relative;
    .btn-back {
    }
    h1 {
    	margin-top: 1em;
    	display: block;
    }
    .stats {
    	margin-top: 1em;
    	display: block;
    	h2 {
    		margin-bottom: 1em;
    	}
    }
    .container-graph {
        width: 100%;
        max-width: 900px;
    }
    .lastUpdate {
        position: absolute;
        right: 0;
        top: 1em;
        text-align: right;
    }
}