#drawer {
	display: none;
	position: absolute;
	left: 0;
	width: 80%;
	border-right: $color-white;
	background-color: $color-black;
	height: 100vh;
	z-index: 100;
	padding: $padding;
	button {
		display: block;
	}
	nav {
		* {
			margin: 1em 0;
			display: block;
		}
	}
}