#market {
	padding-top: 1em;
	.columns {
		&.columns-header {
			border-bottom: 2px solid $color-purple;
		}
	}
	.row { 
		width: 100%;
		height: $row-height;
		position: relative;
		padding: 20px 0;
		border-bottom: 1px $color-font solid;
		&:hover {
			font-weight: 700;
		}
	}
	.columns-header {
		width: 100%;
		height: $row-height;
		position: relative;
		padding: 35px 0 0 0;
		border-bottom: 1px $color-font solid;
		.name {
			font-size: 15px;
		}
		.quantities {
			position: absolute;
			top: auto;
			transform: translateY(0);
			.quantity {
				font-size: 15px;
			}
		}
		&:hover {
			font-weight: 700;
		}
	}
	.exchange-name {
		color: $color-purple;
	}
	.name {
		position: absolute;
		color: $color-font;
		line-height: $row-height;
		vertical-align: middle;
	}
	.quantities {
		display: inline-block;
		position: absolute;
		top: 50%;
	    transform: translateY(-50%);
		right: 0;
		width: 25%;
		height: $row-height;
	    text-align: right;
		.quantity {
			line-height: $row-height;
			vertical-align: middle;
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			width: 135px;
			text-align: right;
			overflow: hidden;
			&.is-active {
				display: block;
			}
		}
	}
}