header {
	position: fixed;
  background: $color-bg;
  z-index: 1000;
	width: 100%;
  top: 0;
  .line {
  	background-color: $color-gray-light;
  	height: 1px;
  	position: relative;
  	bottom: 0;
  	width: 92%;
  	margin-left: $padding;
    display: none;
  }
  .arrow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
  }
	.container-logo {
		@include clearFix();
		position: relative;
		z-index: 101;
	}
  .anchor-home {
    margin: 10px 0 7px;
    display: block;
    text-align: center;
  }
  .c-hamburger {
  	position: absolute;
  	top: 0;
    margin: 20px 10px;
    cursor: pointer;
  }
  h1 {
  	line-height: 68px;
  }
	.logo {
		position: relative;
	  width: 40px;
	}
	nav {
		a {
			padding: .25em .25em;
			&:first-child{
				padding: .25em .25em .25em 0;
			}
		}
	}
}
