#market {
	.page {
		padding: 0 $padding;
	}
	.columns {
		&.columns-header {
			border-bottom: 2px solid $color-purple;
		}
	}
	.row { 
		width: 100%;
		height: $row-height;
		position: relative;
		padding: 20px 0;
		border-bottom: 1px $color-font solid;
		&:hover {
			font-weight: 700;
		}
	}
	.columns {
		.inner {
		}
	}
	.columns-header {
		width: 100%;
		height: $row-height;
		position: relative;
		padding: 35px 0 0 0;
		border-bottom: 1px $color-font solid;
		.name {
			font-size: 15px;
		}
		.quantities {
			.quantity {
				font-size: 15px;
			}
		}
		&:hover {
			font-weight: 700;
		}
	}
	.exchange-name {
		color: $color-purple;
	}
	.name {
		color: $color-font;
		line-height: $row-height;
		vertical-align: middle;
		float: left;
	}
	.quantities {
		float: right;
		display: inline-block;
		height: $row-height;
	    text-align: right;
		.quantity {
    		line-height: $row-height;
			text-align: right;
		}
	}
}