#market {
	.page {
		padding: 0 $padding;
	}
	.columns {
		&.columns-header {
			border-bottom: 2px solid $color-purple;
		}
	}
	.row { 
		width: 100%;
		position: relative;
		padding: 20px 0;
		border-radius: 5px;
		padding: $padding;
	    box-sizing: border-box;
	    background: $color-purple;
	    color: $color-white;
	    margin: .25em 0;
    	box-shadow: 0px 3px 7px #99B;
    	vertical-align: middle;
	    @include clearFix();
	}
	.columns-header {
		width: 100%;
		height: $row-height;
		position: relative;
		padding: 35px 0 0 0;
		border-bottom: 1px $color-font solid;
		.name {
			font-size: 15px;
		}
		.quantities {
			.quantity {
				font-size: 15px;
			}
		}
		&:hover {
			font-weight: 700;
		}
	}
	.name {
		float: left;
		line-height: $row-height;
		vertical-align: middle;
	}
	.quantity {
		float: right;
		display: inline-block;
		line-height: $row-height;
		text-align: right;
	}
}