h1 {
	font-size: 20px;
	font-weight: 700;
	letter-spacing: .6px;
}
h2 {
	font-size: 20px;
	line-height: 28px;
}
h3 {
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
}
a {
	font-size: 18px;
	color: $color-font;
	// font-weight: 700;
	text-decoration: none;
}
p {
	font-size: 14px;
	line-height: 24px;
}
small {
	text-decoration: none;
	font-size: 8px;
}