h1 {
	color: $color-purple;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: .6px;
}
h2 {
	color: $color-white;

}
h4 {
	color: $color-white;
	font-size: 16px;
	font-weight: 400;
}
a {
	font-size: 18px;
	color: $color-white;
}
